.msg {
  width: 100%;
  border-radius: 8px;
  padding: 10px 10px 10px 12px;
  font-size: 18px;
  position: relative;
  cursor: pointer;
}

.msg p {
  -webkit-box-orient: vertical;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: normal;
}

.msg.dark {
  background-color: rgba(242, 242, 242, .7);
  color: #000;
}
.msg.light {
  background-color: rgba(27, 27, 27, .7);
  color: #fff;
}

.msg-footer {
  padding: 10px 10px 10px 12px;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}
