.navbar {
  width: 100%;
  height: 64px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.navbar-btn {
  display: flex;
  align-items: center;
}

.navbar-item {
  margin-left: 15px;
}

.navbar-text.dark {
  color: #f2f2f2;
}
.navbar-text.light {
  color: #1b1b1b;
}

.mode-icon {
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  min-width: 32px;
  min-height: 32px;
  cursor: pointer;
}

.mode-icon.dark {
  background-color: #f2f2f2;
}
.mode-icon.light {
  background-color: #383838;
}

.mode-icon.dark img {
  /* #1b1b1b */
  filter: invert(0%) sepia(7%) saturate(2691%) hue-rotate(346deg) brightness(104%) contrast(79%);
}
.mode-icon.light img {
  /* #c4c4c4 */
  filter: invert(99%) sepia(0%) saturate(0%) hue-rotate(166deg) brightness(78%) contrast(99%); 
}
